@import './tailwind.css';

.swatch-list {
  @apply flex items-center;
  &__swatch {
    @apply flex items-center justify-center text-white h-8 w-8;
    text-shadow: 0 0 2px black;
  }
}

img.-full {
  image-rendering: pixelated;
  max-width: unset;
  min-width: 100%;
}

.invisible-file-input {
  opacity: 0;
  pointer-events:none;
}