@import './tailwind.css';

.swatch-list {
  @apply flex items-center;
  &__swatch {
    @apply flex items-center justify-center text-white h-8 w-8;
    text-shadow: 0 0 2px black;
  }
  .palette-actions {
    @apply items-center justify-center gap-4 pl-4;
    display: none;
    .fa {
      @apply cursor-pointer;
    }
  }
  &:hover .palette-actions {
    @apply flex;
  }
}

img.-full {
  image-rendering: pixelated;
  max-width: unset;
  min-width: 100%;
}

.invisible-file-input {
  left: -1000px;
  opacity: 0;
  pointer-events:none;
  position: absolute;
  top: -1000px
}

.pcr-app .pcr-interaction {
  .pcr-result {
    flex-basis: 70%;
    order: 1;
  }
  .pcr-clear {
    order: 2;
  }
  .pcr-type {
    order: 3
  }
}

.pcr-app .pcr-swatches {
  order: 9;
  margin: 0.3em 0;
}

.pickr .pcr-button {
  display: block;
  border-radius: 0;
  &:focus {
    box-shadow: unset;
    outline: unset;
  }
  &:before {
    border-radius: 0;
  }
  &:after {
    background: linear-gradient(135deg, var(--base-color) 50%, var(--selected-color) 50%);
    border-radius: 0;
  }
}